<?xml version="1.0" encoding="UTF-8"?>
<config>  
	<category name="PROGRAMS" value="programs">
	  <cmd name="CMD" value="cmd.exe"/>
	  <cmd name="Notepad" value="notepad.exe"/>
	  <cmd name="MSPaint" value="mspaint.exe"/>
  </category>
  <category name="SCRIPTS" value="Scripts">
    <cmd name="dead cat" value="deadcatcommand"/>
    <cmd name="live cat" value="livecatcommand"/>
  </category>
</config>